* {
  box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: #774049;
  background-position: center center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('image/cap5.jpg');
}

.image {
  height: 100%;

}
img {
  width: 60%;
}

button, input[type="text"] {
  padding: 5px;
  background: white;
  font-size: 15px;
}
#js-button {
 font-size: 15px;
 background: white;
 background-image: linear-gradient(white,lightgray);
transition-duration: 0.4s;
}

.button:hover {
  background-color: black;
  color: white;
}

h3{
    font-size: 15px;
}

.main-result {
  font-size: 15px;

}

body p {
background-color: #774049;
 padding: 1px;
 margin: 5px;
 text-align: center;
}


header{
 background-color: #774049;
 padding: 3px;
 margin: 5px;
 text-align: center;
 text-transform: uppercase;
 border: 3px solid rgba(255, 255, 255, 0.822);
}
header h2 {
 font-size: 15px;
}

#js-form{
margin: 20px;
font-size: 40px;
text-align: center;
}

label {
 font-size: 30px;
 text-shadow: 2px  2px 0 rgb(36, 35, 35),
-1px -1px 0 #000,  
 1px -1px 0 #000,
-1px  1px 0 #000,
 1px  1px 0 #000;

}

.flex-cont, .flex-cont1 {
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}

.flex-cont iframe, .flex-cont1 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
.result-box, .result-box1{
  background-color: #774049;

}
.result-box, .result-box1, .result-box2 {
  margin: 8px;
  border: 3px solid rgba(255, 255, 255, 0.822);
}
.result-box2{
background-color: grey;
}
.result-box p, .result-box1 p {
  text-align: left;
  margin-bottom: 10px;
  margin: 20px;
  font-size: 10px;
   
}
.result-box h2 {
  text-transform: uppercase;
  text-align: left;
  margin: 10px;
  text-shadow: 2px  2px 0 rgb(36, 35, 35),
  -1px -1px 0 #000,  
   1px -1px 0 #000,
  -1px  1px 0 #000,
   1px  1px 0 #000;
}
.result-box1 h2, .result-box2 h2 {
  font-size: 15px;
  margin-top: 10px;
  margin: 10px;

}
.result-box2 p {
  text-align: left;
  background-color: grey;
  font-size: 10px;
  margin: 10px;
}
.result-box h3, .result-box1 h3{
  font-size: 15px;
  margin-left: 50px;
  margin: 8px;
  text-shadow: 2px  2px 0 rgb(36, 35, 35),
-1px -1px 0 #000,  
 1px -1px 0 #000,
-1px  1px 0 #000,
 1px  1px 0 #000;
}
.result-box2 h3 {
  text-align: left;
  margin: 20px;
  font-size: 20px;
  text-shadow: 2px  2px 0 rgb(36, 35, 35),
  -1px -1px 0 #000,  
   1px -1px 0 #000,
  -1px  1px 0 #000,
   1px  1px 0 #000;
}

h4 {
  text-align: left;
  margin-top: 8px;
  margin: 8px;
  font-size: 10px;
  font-style: italic;
}

@media only screen and (min-width: 700px) {
  #results {
    width:80%;
    margin-left: 10%;
   }
  #js-button {
    font-size: 30px;
  }
  header h2 {
    font-size: 25px;
   }
   h1{
     font-size: 30px;
   }
   .result-box1 h2,
   .result-box h2,.result-box2 h2 {
     font-size: 20px;
   }
   .result-box h3, .result-box1 h3,.result-box2 h3{
    font-size: 20px;
  }
  .result-box p, .result-box1 p, .result-box2 p {
    font-size: 10px;
    margin: 10px;
    margin-top:0px;
  }
  #js-button {
    font-size: 20px;
    margin: 20px;
  }
  button, input[type="text"] {
    padding: 5px;
    background: white;
    font-size: 30px;
  }
  label {
    font-size: 40px;
    margin: 20px;
  }
  h4{
    font-size: 25px;
  }
  .result-box, .result-box1, .result-box2 {
    margin: 20px;
    margin-bottom: 50px;
  }
  a {
    font-size: 25px;
  }
  .image {
    height: 80%;
  
  }
  img {
    margin-left:10px;
    width: 40%;
    height: 40%;
  }
  .flex-cont, .flex-cont1 {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }

  .flex-cont iframe, .flex-cont1 iframe {
    left:50px;
    top:0;
    height:80%;
    width:80%;
    position:absolute;
    }
}


@media screen and (min-width: 800px){
  header h2 {
    font-size: 25px;
   }
   h1{
     font-size: 40px;
   }
 #results {
  width:80%;
  margin-left: 10%;
 }
   .result-box1 h2,
   .result-box h2,.result-box2 h2 {
     font-size: 30px;
     margin: 20px;
   }
   .result-box h3, .result-box1 h3,.result-box2 h3{
    font-size: 25px;
    margin-left: 20px;
  }
  .result-box p, .result-box1 p, .result-box2 p {
    font-size: 20px;
  }
  #js-button {
  font-size: 30px;
  margin: 20px;
  }
  button, input[type="text"] {
    padding: 5px;
    background: white;
    font-size: 40px;
  }
  label {
    font-size: 50px;
    margin: 20px;
  }
  h4{
    font-size: 20px;
    margin-left: 20px;
  }
  .result-box, .result-box1, .result-box2 {
    margin: 40px;
    margin-bottom: 8px;
  }
  a {
    font-size: 20px;
    margin: 0px;
  }
  .flex-cont, .flex-cont1 {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }

  .flex-cont iframe, .flex-cont1 iframe {
    left:50px;
    top:0;
    height:80%;
    width:80%;
    position:absolute;
    }

    .result-box, .result-box1, .result-box2 {
      margin: 8px;
      margin-bottom: 10px;
    }
    .image {
      height: 80%;
    
    }
    img {
      margin-left:10px;
      width: 40%;
      height: 40%;
    }
    body p {
      margin: 30px;
    }
}
