* {
    box-sizing: border-box;
  }
  
  body {
    color: white;
    font-family: 'Roboto', sans-serif;
    background: rgb(192, 137, 146);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    background-image: url('image/cap5.jpg');
  text-shadow: 2px  2px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
  -1px  1px 0 #000,
   1px  1px 0 #000;
  }
  
  button, input[type="text"] {
    padding: 5px;
    background: lightgray;
  }

  h3{
      font-size: 15px;
  }

  .main-result {
    font-size: 10px;

  }

 label {
     font-size: 20px;
 }
